h1 {
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 32px;
}

h2 {
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 30px;
	text-align: center;
}

h3 {
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 30px;
}

h4 {
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 30px;
}

* {
	font-family: serif;
}

.pie {
	width: 80px;
	height: 80px;
	float: left;
	margin: 5px;
}

.title {
	border-style: dotted;
	border-color: #C17C17;
	background-color: #FBDF99;
	padding: 0 10px 0 10px;
}

p {
	font-size: 20px;
	text-indent: 25px;
}

.holder {
	margin: auto;
	max-width: max(60%, 600px);
	width: 100%;
}

.martha {
	width: 320px;
	max-width: 100%;
	height: auto;
	display: block;
	margin: 10px auto;
}

.marthap {
	display: block;
	margin: 10px auto;
}

.aboutme {
	font-size: 15px;
}

.link {
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 30px;
	margin: 5px;
}

.book {
	background: url("images/book.png");
	background-size: contain;
    display: flex;
	margin: 25px auto;
	max-width: 329px;
	aspect-ratio: 0.88918918918;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.book > * {
	padding: 0;
}

.book .text{
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	top: 40%; /* Adjust this value to move the positioned div up and down */
	font-family: Arial, sans-serif;
	color: #fff;
	width: 60%; /* Set the width of the positioned div */
}

ol {
	font-size: 20px;
	line-height: 35px;
}

ul {
	font-size: 20px;
}
