body {
  background-image: url('images/background.png');
}

.waves {
  font-smooth: never;
  -webkit-font-smoothing : none;
  font-family: 'Times New Roman';
  letter-spacing: normal;
  color = 000000;
}
